<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<br />

<%= link_to "New Genome", new_genome_path, class: "btn btn-primary" %>
<br />
<br />

<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>Name</th>
         <th>Download Link</th>
         <th> </th>
      </tr>
   </thead>

   <tbody>
      <!-- <% @Genome.each do |genome| %>

         <tr>
            <td><%= genome.name %></td>
            <td><%= link_to "Download Genome", genome.attachment_url %></td>
            <td><%= button_to "Delete",  genome, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{genome.name}?" %></td>
         </tr>

      <% end %>
   </tbody> -->

</table>
